config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/cyfronet-fid/eosc-search-service:
      branch: master
      repo: https://github.com/cyfronet-fid/eosc-search-service
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/cyfronet-fid/eosc-search-service git:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-amber-cassowary.sh
        container: qc.acc_cheeky-lime-wombat
  QC.Doc:
    repos:
      github.com/cyfronet-fid/eosc-search-service find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.homely-champagne-tiger.sh
        container: qc.doc_sleepy-lilac-wolfhound
      github.com/cyfronet-fid/eosc-search-service git:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-tangerine-schnauzer.sh
        container: qc.doc_surly-emerald-lionfish
      github.com/cyfronet-fid/eosc-search-service markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.beady-tan-corgi.sh
        container: qc.doc_baggy-brown-quokka
  QC.Lic:
    repos:
      github.com/cyfronet-fid/eosc-search-service licensee:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-celadon-hornet.sh
        container: qc.lic_bluesy-cobalt-labradoodle
  QC.Sec:
    repos:
      github.com/cyfronet-fid/eosc-search-service bandit:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-sapphire-dolphin.sh
        container: qc.sec_nippy-seashell-scorpion
  QC.Sty:
    repos:
      github.com/cyfronet-fid/eosc-search-service flake8:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-xanthic-termite.sh
        container: qc.sty_surly-wisteria-catfish
      github.com/cyfronet-fid/eosc-search-service hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-mauve-chow.sh
        container: qc.sty_snappy-corn-skunk
      github.com/cyfronet-fid/eosc-search-service jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.messy-fuchsia-lizard.sh
        container: qc.sty_jumpy-pink-crane
  QC.Uni:
    repos:
      github.com/cyfronet-fid/eosc-search-service pytest:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-turquoise-serval.sh
        container: qc.uni_fuzzy-amaranth-chimpanzee
  QC.Ver:
    repos:
      github.com/cyfronet-fid/eosc-search-service get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-orange-setter.sh
        container: qc.ver_flabby-thistle-iguana
timeout: 5400
