config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/cyfronet-fid/eosc-search-service:
      branch: 1628-getting-golden-SQA-badge
      repo: https://github.com/cyfronet-fid/eosc-search-service/
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/cyfronet-fid/eosc-search-service git:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-lavender-rat.sh
        container: qc.acc_gloppy-firebrick-ray
  QC.Doc:
    repos:
      github.com/cyfronet-fid/eosc-search-service find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-cobalt-badger.sh
        container: qc.doc_goopy-seashell-mongrel
      github.com/cyfronet-fid/eosc-search-service git:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-flax-maltese.sh
        container: qc.doc_shaggy-bistre-shark
      github.com/cyfronet-fid/eosc-search-service markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-russet-tarsier.sh
        container: qc.doc_blurry-goldenrod-newt
  QC.Lic:
    repos:
      github.com/cyfronet-fid/eosc-search-service licensee:
        commands:
        - /usr/bin/env sh .sqa/script.homey-corn-ragdoll.sh
        container: qc.lic_woolly-sapphire-foxhound
  QC.Met:
    repos:
      github.com/cyfronet-fid/eosc-search-service cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-cinnabar-chimpanzee.sh
        container: qc.met_thirsty-cobalt-jellyfish
  QC.Sec:
    repos:
      github.com/cyfronet-fid/eosc-search-service bandit:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-brown-gorilla.sh
        container: qc.sec_skanky-denim-hummingbird
  QC.Sty:
    repos:
      github.com/cyfronet-fid/eosc-search-service flake8:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-ochre-leopard.sh
        container: qc.sty_sloppy-apricot-hyena
      github.com/cyfronet-fid/eosc-search-service hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-salmon-ostrich.sh
        container: qc.sty_tacky-harlequin-tang
      github.com/cyfronet-fid/eosc-search-service jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-tan-mouse.sh
        container: qc.sty_geeky-cyan-audemer
  QC.Uni:
    repos:
      github.com/cyfronet-fid/eosc-search-service pytest:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-tan-eel.sh
        container: qc.uni_chummy-brass-mongrel
  QC.Ver:
    repos:
      github.com/cyfronet-fid/eosc-search-service get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-purple-skunk.sh
        container: qc.ver_tacky-tan-squid
timeout: 5400
