config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/cyfronet-fid/eosc-search-service:
      branch: development
      repo: https://github.com/cyfronet-fid/eosc-search-service/
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/cyfronet-fid/eosc-search-service git:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-beige-turtle.sh
        container: qc.acc_goopy-aquamarine-duck
  QC.Doc:
    repos:
      github.com/cyfronet-fid/eosc-search-service find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-lavender-gecko.sh
        container: qc.doc_lousy-goldenrod-cheetah
      github.com/cyfronet-fid/eosc-search-service git:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-ochre-coati.sh
        container: qc.doc_lanky-jade-dodo
      github.com/cyfronet-fid/eosc-search-service markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-lemon-moorhen.sh
        container: qc.doc_nippy-amber-warthog
  QC.Lic:
    repos:
      github.com/cyfronet-fid/eosc-search-service licensee:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-puce-baboon.sh
        container: qc.lic_goopy-charcoal-ragdoll
  QC.Sec:
    repos:
      github.com/cyfronet-fid/eosc-search-service bandit:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-grey-chipmunk.sh
        container: qc.sec_scummy-cerise-mandrill
  QC.Sty:
    repos:
      github.com/cyfronet-fid/eosc-search-service flake8:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-apricot-toad.sh
        container: qc.sty_pasty-dandelion-dogfish
      github.com/cyfronet-fid/eosc-search-service hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-ruby-starfish.sh
        container: qc.sty_lanky-pear-kingfisher
      github.com/cyfronet-fid/eosc-search-service jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-chestnut-chicken.sh
        container: qc.sty_gimpy-orange-fossa
  QC.Uni:
    repos:
      github.com/cyfronet-fid/eosc-search-service pytest:
        commands:
        - /usr/bin/env sh .sqa/script.beady-magenta-squirt.sh
        container: qc.uni_woolly-grey-newt
  QC.Ver:
    repos:
      github.com/cyfronet-fid/eosc-search-service get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.ready-amaranth-husky.sh
        container: qc.ver_cozy-puce-fish
timeout: 5400
